go 1.19

use (
	./k8s.io/api
	./k8s.io/apiextensions-apiserver
	./k8s.io/apimachinery
	./k8s.io/apiserver
	./k8s.io/client-go
	./k8s.io/component-base
	./k8s.io/component-helpers
	./k8s.io/kube-aggregator
	./k8s.io/kube-openapi
	./k8s.io/utils
	./kubernetes
)
